body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden ;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
main {
  min-height: 96vh;
}
.rating {
  color: green;
  }

.text-decor{
  text-decoration: none;
}
.background{
  background-color: #F9F3EE;
}
.footer{
  width:100%;
  display: block;
  margin:auto;
}


  @media screen and (max-width: 500px) {
    .p-container{
      margin-left:0 !important;
      /* margin-right: 50px !important; */
      
    }
    .p-card{
      width:102% !important;
      position: relative !important;
      right: 20px !important;
      /* background-color: transparent !important;  */
      /* border: 2px solid !important; */
    }

  }
